@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: "zilla slab", sans-serif;
}

a { 
    text-decoration: none;
}
span1 {
    color:blueviolet
}
span {
    color: rgb(103, 10, 224);
}

.container {
    
    min-height: 100vh;
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}


#canvas1 {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(to right, #74ebd5, #acb6e5); */
    color :#A3D2CA;
    background-size: cover;
    z-index: -1;
}

/* Nav Bar */
#header {
    position : fixed;
    left : 0;
    top : 0;
    width :100vw;
    height: auto;
    
}



.header-container .nav-bar {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 80%;
    height: 100%;

}


/* Nav Bar End */
/* home setion */
@media (max-width: 600px) {
    #home{
      
        flex-direction:column !important;
      
    }

    #home p{
      
        width: 90vw !important;
        margin: 0;
      
    }

    .column-right{
        margin: 5px !important;
        align-items: center !important;
    }
    .column-right h1{
        font-size: 24px !important;
        margin: 0 !important;
    }
    #resume-container {
        width: 95vw  !important;
        max-width: 95vw !important;

        overflow-wrap: break-word !important;
        word-wrap: break-word !important;
    }

    .ascii-art{
        display: none !important;
    }
    .menu{
        width: 95vw !important;
        max-width: 100vw !important;
    }
    .my-terminal{
        
        width: 95vw  !important;
        max-width: 95vw !important;
        margin-bottom: 2vh;
    }
    .home{
        max-width: 95%;
    }


  }



.my-terminal {
    display: flex;
    flex-direction: column;
    width: 50vw;
    max-width: 70vw;
    margin-inline: 5vw;
    height: 630px;
}

.menu{
    display:flex;
    text-align: center;
    flex-direction: row;
    width: 100%;
    background-color: #424040;
    padding: 8px 15px;
    cursor:default;
    border-radius: 20px 20px 0 0;
  }
  .menu .button{
    display: flex;
    width:12px;
    height:12px;
    border-radius:50%;
    margin-right:8px;
    cursor:pointer;
    flex-direction: row;
  }

  .buttons-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .red{background-color:#F5544D;}
  .yellow{background-color:#FABD2F;}
  .green{background-color:#47D043;}

  .title p{
    text-align:center;
    font-size: 18px;
    margin-bottom: 0 !important;
    color:#000000;
    width: max-content !important;
    margin-left: auto !important;
  }



#resume-container{
    display: flex;
    flex-direction:column;
    height: 600px;
    background-color: #012A37;
    color: white;
    width: 50VW;
    padding: 15px;
    border-radius: 0 0 20px 20px;
    border: 4px solid transparent;
    overflow: auto;
    font-family: "Lucida Console", Monaco, monospace;
    line-height: 1.5;
}

.ascii-art {
    white-space: pre; /* Maintain preformatted text */
    font-family: monospace; /* Ensure consistent spacing */
    margin: 0; /* Reset margin */
  }



#resume-container > *{
   margin-bottom: 10px;
   font-size: 12px;
}
#command-line > span{
    color: #7BD334;
    font-size: 12px;
}
#command-line > *{
    margin-inline: 2px;
    font-family: "Lucida Console", Monaco, monospace;
}

#command-line input{
    outline: none !important;
    background-color: transparent;
    border: none;
    color: #7BD334;
    font-size: 12px;
}

#executed_commands {
    display: flex;
    flex-direction: column;
    
}
#executed_commands p{
    margin: 0px !important;
    width: 100% !important;
    font-size: 12px !important;
    text-align: left !important;
}
#executed_commands >*{
    margin-block: 10px;
}

#executed_commands ul {
    margin-left: 20px;
}
#executed_commands li {
    margin: 0 0 5px 0;
}
#executed_commands i {
    color:#47D043
}

#executed_commands li > span {
    color: red;
}

#executed_commands a{
    color: green !important;
    font-weight: bold !important;
}


.terminal-button{
    flex-direction: column;
    align-items: center;
    display:none

}

.terminal-button img{
    width: 70%;
    padding: 20px;
    border-radius: 50%;
    outline-style:inherit;
    transition: 0.4s ease-in-out;
    cursor: pointer;
    animation: idle 1.5s infinite;
}

@keyframes idle {
    0%,to {
        transform: none
    }

    50% {
        transform: scale3d(1.1,1.1,1)
    }
}



#home{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #74ebd5, #acb6e5);

}



#home h1 {
    display: block;
    width: fit-content;
    position: relative;
    color: black;
    font-size : 40px;
    margin-inline: auto;
}

#home h2 {
    display:block;
    margin-bottom: 10px;
    text-align: center;
    margin-inline: auto;
}
#home p{
    display: block;
    width: 400px;
    font-size: 20px;
    margin-bottom: 5px;
    text-align:center;
}
#home .cta {
    display: initial;
    padding: 10px 30px;
    margin-right: 15px;
    color : black;
    background-color: white;
    font-size: 2rem;
    text-transform: lowercase;
    border-radius: 45px;
    box-shadow:0px 8px 15px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: start;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    

}

#home .cta:hover{
    color: black;
    background-color: turquoise;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: white;
    transform: translateY(-7px);
}

#home .cta2 {
    display: initial;
    padding: 10px 30px;
    margin-right: 15px;
    color :white;
    background-color: blueviolet;
    font-size: 2rem;
    text-transform: lowercase;
    border-radius: 45px;
    box-shadow:0px 8px 15px rgba(181, 22, 255, 0.1);
    flex-direction: column;
    align-items: start;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    box-shadow: 0px 15px 20px rgba(171, 46, 229, 0.4);
    

}

#home .cta2:hover{
    background-color:white;
    color: black;
    transform: translateY(-7px);
}



#home .home {
    display: flex;
    max-width: 50%;
    width: 50%;
    padding: 0 50px;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
}

#home .column-right {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30px;
    gap:2rem;
}
#home .column-right h2{
    margin-top:-20px;
}

#home .column-right h1{
    font-size: 28px;
    text-align: center;
    margin-inline: auto;
    margin-bottom: 10px;
}

#home .column-right p{
    line-height: 3rem;
}

#home .column-right .home-button {
    display: flex;
    flex-direction: row;
}


#home .column-left .home-img img{
    cursor: pointer;
    border-radius: 50%;
    position: relative;
    border: 4px solid cyan;
    filter : grayscale(0%);
    transition : all 800ms;
}
#home .column-left .home-img img::after{
    content: '';
    position: absolute;
    left:-33px;
    border: 4px ;
}
#home .column-left .home-img img:hover{
    transform: rotate(360deg);
    filter : grayscale(0%);
}


/* footer */

#footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: gainsboro;
    width: 100%;
    height: 200px;
}

.copyright {
    justify-content: center;
    background-color: #000000;
    width: 100%;
    height: 30px;
}


.copyright h2 {
    color: #fff;
    text-align: center;
    padding: 5px;
}
.copyright f:hover{
    color: blueviolet;
}


.underConstruction{
    text-align: center;
    margin: 20%;
    font-size:20px;
}

/* emjoi */
.emoji {
    font-size: calc(100px + 4vw);
    min-width: 1.4em;
    margin: 0.3em 0.4em;
    text-align: center;
}

.emoji::after {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.hourglass::after {
    content: '⏳';
    --emoji: '⌛️';
    animation-name: twoFrames;
    animation-duration: 1.2s;
}

@keyframes twoFrames {
    50% {
        content: var(--emoji);
    }
}

@keyframes threeFrames {
    33.333% {
        content: var(--emoji-1);
    }

    66.666% {
        content: var(--emoji-2);
    }
}
